/* Font */

@font-face {
    font-family: 'CoveredByYourGrace';
    font-style: cursive;
    font-weight: 400;
    src: url(./font/CoveredByYourGrace.ttf) format('truetype');
}

.brand-font {
    font-family: 'CoveredByYourGrace';
    font-weight: normal;
    font-style: normal;
    font-size: 2.1rem;
}

/* Icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./font/material-design-icons/Material-Design-Icons.eot); /* For IE6-8 */
  src: url(./font/material-design-icons/Material-Design-Icons.woff2) format('woff2'),
       url(./font/material-design-icons/Material-Design-Icons.woff) format('woff'),
       url(./font/material-design-icons/Material-Design-Icons.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.text-left-of-icon {
    margin-left: 20px;
    vertical-align: baseline;
    position: relative;
    top: -7px;
}

.text-right-of-icon {
    margin-right: 20px;
    vertical-align: baseline;
    position: relative;
    top: -7px;
}

.drop-down-selected {
    background-color: rgb(238,238,238);
}

.full-width {
    width: 100%;
}

button.full-width {
    width: 100%;
    display: block;
}

.top-spacer-large {
    margin-top: 5vh !important;
}

.top-spacer-medium {
    margin-top: 2.5vh !important;
}

.top-spacer-small {
    margin-top: 1vh !important;
}

.loading-overlay {
  position: relative;
  &:after {
      position: absolute;
      content:"";
      top:0;
      left:0;
      width:100%;
      height:90%;
      opacity:1;
      background-color: rgb(238,238,238);
  }
}

.preloader-wrapper {
    &.x-small {
        width: 20px;
        height: 20px;
    }
}

.nav-home {
    width: 75vw;
    margin: 0 auto;
    a {
        color: black;
    }
    @media (max-width: 600px) {
        width: 95vw;
    }
}

.jumbotron {
    header {
        padding-top: 10vh;
        margin-bottom: 7.5vh;
        font-size: 5rem;
        border-bottom: 10px solid #ffc107;
        display: inline-block;
        @media (max-width: 600px) {
            font-size: 3.5rem;
            border-width: 5px;
        }
    }
    .hero {
        padding-top: 7.5vh;
        .material-icons {
            font-size: 4rem;
        }
    }
}

.inner-react-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.inner-react-container > main {
    flex: 1 0 auto;
}


.page-footer a, .page-footer span {
    padding-right: 2vw;
}
